<% idea ||= form %>

<%= error_messages_for :idea %>

<% form_for(idea) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name, :size => 50 %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description, :cols => 80, :rows => 5 %>
  </p>

  <p>
    <b>Audience</b><br />
    <%= f.text_area :audience, :cols => 80, :rows => 5 %>
  </p>

  <p>
    <b>Problem</b><br />
    <%= f.text_area :problem, :cols => 80, :rows => 5 %>
  </p>

  <p>
    <b>Solution</b><br />
    <%= f.text_area :solution, :cols => 80, :rows => 5 %>
  </p>

  <p>
    <%= f.submit (idea.new_record? ? "Create" : "Update") %>
  </p>
<% end %>
