<% user ||= form %>

<%= error_messages_for :user %>

<% form_for(user) do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="url">URL</label><br/>
<%= f.text_field :url %></p>

<p><label for="skill_ids">Skills</label><br/>
<%= hidden_field_tag "user[skill_ids][]", "" %>
<% for skill in Skill.find(:all) %>
<div>
    <%= check_box_tag "user[skill_ids][]", skill.id,
        user.skill_ids.nil? ? user.skills.include?(skill) : user.skill_ids.include?(skill.id.to_s) %>
    <%= skill.name %>
</div>
<% end %>
</p>

<p><label for="buzzwords">Skill buzzwords</label><br/>
<%= f.text_field :buzzwords %></p>


<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag (user.new_record? ? 'Sign up' : 'Update') %></p>
<% end -%>
