<h2>Your Profile</h2>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<% unless @user.url.blank? %>
<p>
  <b>URL:</b>
  <%= link_to @user.url, @user.url %>
</p>
<% end %>

<p>
  <b>Skills:</b>
  <%= @user.skills.map { |s| s.name }.join(", ") %>
</p>

<% unless @user.url.blank? %>
<p>
  <b>Skills Buzzwords:</b>
  <%=h @user.buzzwords %>
</p>
<% end %>

<% if @current_user == @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Home', root_path %>
