<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% title = yield :title -%>
  <title><%= title %><%= ": " unless title.blank? %>Idea2Profit<%= " (#{ENV['RAILS_ENV']})" if ENV['RAILS_ENV'] != 'production' %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'style', 'main', 'rails_stuff', :media => 'screen, print' %>
  <%= yield :additional_stylesheets %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <script type="text/javascript">
    <%= @content_for_page_scripts %>
  </script>
</head>
<body>

<%= yield :header %>

<% for name in [:notice, :warning, :message ] %>
  <% if flash[name] %>
    <div id="<%=name %>" class="flash <%= name %>"><%= flash[name] %></div>
  <% end %>
<% end %>

<%= yield  %>

</body>
</html>
